# Node modules
node_modules/

# Electron Builder outputs
dist/
win-unpacked/
*.exe
*.blockmap
*.yml

# File temporanei di builder/debug
builder-debug.yml
builder-effective-config.yaml
latest.yml

# Server files
server/

# personal project notes
project_notes/
